<div id="drag-1" [ngStyle]="setMyStyles()" class="draggable">text</div>

<svg ngDraggable xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20">
  <rect x="4" y="5" width="2" height="4" fill="indianred" opacity="0.3" />
</svg>

<svg ngDraggable viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="4" fill="steelblue" opacity="0.3" />
</svg>
<!--
  <svg ngDraggable><rect x="5" y="5" width="2" height="2" fill="blue" /></svg>
  <div ngDraggable style="background-color:blue;border:1 px solid black">
    Drag Me!
  </div>
-->
