.sidenav-container {
  width: 100%;
  height: 0px;
}

h2 {
  float: center;
  text-align: center;
  font-family: "BebasNeueRegular";
  font-size: 30px;
}

.sidenav {
  padding: 20px;
  background-color: whitesmoke;
}

button {
  margin-bottom: 8px;
}

.dataSetbutton {
  float: right;
}

body>app-root>nav-drawer>div:nth-child(6)>mat-drawer {
  margin-top: 200px;
}

.textContainer {
  position: absolute;

}

#Wolf {
  stroke: red;
}
